.adminForm {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, rgba(13, 89, 182, 0.912), 30%, pink);
}

.adminForm form {
    width:25%;
    height: 50%;
    border-radius:30px;
    background:linear-gradient(rgb(30, 110, 156), 35%, rgba(255,255,255));
    position: relative;
    left:36%;
    top:8%;
}
.adminForm form ul{
    position: relative;
    top:35%;
}
.adminForm input:nth-child(1){
    margin-bottom:7%;
    width:60%;
    height:35px;
    padding-left:2%;
    background-color:rgba(0,0,0,0);
    color:black;
    font-weight: bolder;
    font-family:sans-serif;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px black;
    border:none;
    border-bottom:1px solid black;

    transition:all .3s ease;
}
.adminForm input:nth-child(1):hover{
    box-shadow: 0px 5px 20px black;
    transform:scale(1.05);
}
.adminForm button{
    color: cyan;
    width:20vw;
    height:8vh;
    background-color: rgb(35, 31, 31);
    border:none;
    box-sizing: border-box;
    border-radius: 30px;
    margin-top:30vh;
    transition: all 0.2s ease;
    font-size:1vw;
}
.adminForm button:hover{
    color: aqua;
    transform: scale(.96);
    box-shadow: 0px 2px 2px aqua;
    cursor:pointer;
}
#imageHolder{
    background-color: rgb(255,255,255, .3);
    background-image:url(./login_person_photo-removebg-preview.png);
    background-repeat: no-repeat;
    background-blend-mode:darken;
    width:6.5%;
    height:14%;
    background-position:center ;
    background-size: 100px 100px;
    border:1px solid white;
    border-radius:60px;
    position:relative;
    left:45%;
    top:5%;
}
